.contact-top {
  .row {
    display: flex;
    &__col {
      width: 100%;
      &:not(:last-of-type) {
        margin-right: 3rem;
      }
    }
  }
  h3 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .contact-links{
    &:first-of-type {
      margin-bottom: 4rem;
    }
  }
  .map {
    iframe {
      width: 100%;
    }
  }
  .tower {
    height: 2rem;
    width: auto;
  }
}