section {
  @include sectionPadding;
  h2 {
    @include sectionHeader;
  }
}
.hero {
  background: #262722;
  .row {
    @include center(space-between);
    @include breakpoint(mobile) {
      display: block;
    }
    &:last-of-type {
      flex-direction: column;
      width: 70%;
      margin: 0 auto;
      margin-top: 4rem;
      @include breakpoint(mobile) {
        margin-top: 3rem;
        width: 100%;
      }
      .cta {
        margin-top: 5rem;
      }
    }
    &__col {
      width:45%;
      &:first-of-type {
        margin-right: 3rem;
        @include breakpoint(mobile) {
          margin-right: 0;
          width: 90%;
          margin: 0 auto;
        }
      }
      &:last-of-type {
        @include breakpoint(mobile) {
          width: 70%;
          margin: 0 auto;
          margin-top: 3rem;
        }
      }
      @include breakpoint(mobile) {
        width: 100%;
      }
    }
  }
}
.about {
  .item {
    $className: item;
    transition: $speed $style;
    &:hover {
      .#{$className}__icon {
        animation: $speed pulse;
      }
    }
    @include breakpoint(mobile) {
      max-width: 60rem;
      margin: 0 auto;
    }
    &__icon {
      img {
        height: 8rem;
        width: auto;
        margin: 0 auto;
      }
    }
    &__title {
      font-weight: 500;
      font-size: 2.6rem;
      margin: 1.5rem 0;
      text-align: center;
      @include breakpoint(mobile) {
        font-size: 2rem;
      }
    }
    &__text {
      margin: 0 auto;
      text-align: justify;
    }
  }
}
.services {
  p {
    max-width: 80rem;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 4rem;
  }
  .flex-wrap {
    margin: -3rem;
  }
  .item {
    width: 33.33%;
    padding: 3rem;
    @include breakpoint(mobile) {
      max-width: 60rem;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 0!important;
      padding: 1.5rem 2rem;
    }
    .wrapper {
      $className: item;
      position: relative;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      padding: 2rem;
      border-radius: 1rem;
      transition: all $speed $style;
      background: rgba($green, 0.03);
      @include breakpoint(mobile) {
        box-shadow: none;
        display: flex;
        padding: 0.5rem;
        background: #fff;
      }
      &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        .#{$className}__content {
          transform: translateY(0);
          opacity: 1;
        }
        @include breakpoint(mobile) {
          box-shadow: none;
        }
      }
    }
    .left {
      @include breakpoint(mobile) {
        order: 2;
        width: 100%;
      }
    }
    &__title {
      color: $green;
      font-size: 2.2rem;
      text-align: center;
      @include breakpoint(mobile) {
        font-size: 1.8rem;
        text-align: left;
        font-weight: 700;
      }
    }
    &__img {
      height: 20rem;
      width: auto;
      margin: 2rem auto;
      @include breakpoint(mobile) {
        width: 8rem;
        margin: 0;
        margin-right: 1rem;
        height: auto;
        order: 1;
      }
      img {
        height: 100%;
        width: auto;
        margin: 0 auto;
        @include breakpoint(mobile) {
          width: 100%;
          height: auto;
        }
      }
    }
    &__content {
      position: absolute;
      top: 0;
      left: 0;
      padding:2rem;
      margin: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: #222222e8;
      transition: all $speed $style;
      transform: translateY(100%);
      opacity: 0;
      @include breakpoint(mobile) {
        display: block;
        transform: translateY(0);
        opacity: 1;
        position: static;
        background: transparent;
        padding: 0;
      }
      p {
        display: block;
        font-size: 1.8rem;
        text-align: center;
        color: #fff;
        margin-bottom: 2rem;
        @include breakpoint(mobile) {
          color: #222;
          text-align: left;
          font-size: 1.6rem;
          margin-bottom: 0;
        }
      }
      button {
        display: block;
        color: #fff;
        background: $green;
        padding: 1rem;
        width: 10rem;
        margin: 0 auto;
        border-radius: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: all $speed $style;
        @include breakpoint(mobile) {
          display: none;
        }
        &:hover {
          background: darken($green, 5%);
        }
      }
    }
  }
}
.newsletter {
  h2 {
    text-align: left;
  }
  .row {
    display: flex;
    @include breakpoint(mobile) {
      flex-direction: column;
    }
    &__col {
      width: 100%;
      &:first-of-type {
        width: min(32rem, 100%);
        margin-right: 10rem;
        @include breakpoint(mobile) {
          width: min(22rem, 100%);
        }
        @include breakpoint(mobile) {
          margin: 0 auto;
          margin-bottom: 3rem;
        }
      }
      &:last-of-type {
        width: min(60rem, 100%);
      }
    }
  }
  p {
    margin-bottom: 2rem;
  }
  form {
    display: flex;
    input[type=text] {
      border: 0.2rem solid $red;
      width: 100%;
      padding: 1rem;
    }
    ::placeholder {
      color: $red;
    }
    input[type=submit] {
      background: $red;
      color: #fff;
      font-weight: 700;
      padding: 1rem;
      cursor: pointer;
    }
  }
}
.whyus {
  .wrapper {
    background: #fff;
  }
  .item {
    $className: item;
    width: 50%;
    // transition: all $speed $style;
    @include breakpoint(mobile) {
      width: min(60rem, 100%);
      margin: 0 auto;
    }
    &:hover {
      .#{$className}__img {
        animation: $speed pulse;
      }
    }
    .wrapper {
      $className: item;
      display: flex;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      border-radius: 1rem;
      transition: all $speed $style;
      position: relative;
      overflow: hidden;
      @include breakpoint(mobile) {
        // box-shadow: none;
      }
      &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        .#{$className}__content {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    &__img {
      width: 20rem;
      padding: 1rem;
      display: flex;
      height: 14rem;
      border-right: .1rem solid #99999961;
      @include breakpoint(mobile) {
        width: 12rem;
      }
      img {
        width: 6rem;
        margin: 0 auto;
      }
    }
    &__content {
      padding: 1rem;
      @include center(center, flex-start);
      flex-direction: column;
      h5 {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}
.partners {
  .flex-wrap {
    justify-content: center;
  }
  .item {
    width: 12%;
    padding: 0 2rem;
    margin-bottom: 1rem;
    @include center;
    @include breakpoint(mobile) {
      width: 25%;
      padding: 0 1rem;
    }
    img {
      transition: all $speed $style;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.contact {
  form {
    width: min(50rem, 100%);
    margin: 0 auto;
  }
  .input-wrap {
    position: relative;
    margin-bottom: 3rem;
    input, textarea {
      width: 100%;
      border-bottom: 0.1rem solid $green;
      transition: all $speed $style;
      box-sizing: border-box;
      padding: 0.5rem 0;
      &:focus, &:not(:focus):valid {
        box-shadow: 0 0.1rem $green;
      }
    }
    .floating-label {
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 0;
      color: #aaaaaa;
      transition: all $speed $style;
    }
    input:focus ~ .floating-label,
    input:not(:focus):valid ~ .floating-label,
    textarea:focus ~ .floating-label,
    textarea:not(:focus):valid ~ .floating-label {
      top: -1.2rem;
      font-size: 1rem;
      color: #1c1b19;
      opacity: 1;
      &:after {
        height: 0.2rem;
      }
    }
    textarea {
      min-height: 10rem;
    }
  }
  input[type=submit] {
    display: block;
    background: $yellow;
    color: #fff;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
    width: 20rem;
    margin: 0 auto;
    transition: all $speed $style;
    &:hover {
      background: darken($yellow, 5%)
    }
  }
}
